:host {
    .product {
        min-width: 270px;
        max-width: 400px;
        box-shadow: 5px 5px 5px rgba(#000000, 0.4);
        margin: auto;
        border: 1px solid grey;
        padding-bottom: 30px;

        img {
            width: 250px;
            margin: 0 auto;
        }

        mat-card-content {
            display: flex;
            align-items: center;
            justify-content: space-around;
        }

        mat-card-actions {
            display: flex;
            align-items: center;
            justify-content: center;

            .price {
                font-size: 24px;
                font-weight: 700;
            }
        }
    }
}