<mat-card>
  <mat-card-title> {{ product.productName }} </mat-card-title>
  <mat-card-content>
    <img
      mat-card-image
      src="{{ product.imageUrl }}"
      alt="{{ product.productName }}"
    />
    <div class="product-info">
      <span> Gender: {{ product.gender }} </span>
      <span> Color: {{ product.color }} </span>
      <span> Size: {{ product.size | inches }} </span>
    </div>
    <span class="price">
      {{ product.price | thousandSeparator | pricePipe }}
    </span>
  </mat-card-content>
  <button mat-mini-fab color="warn" class="remove" (click)="onRemove()">
    <mat-icon>remove_shopping_cart</mat-icon>
  </button>
</mat-card>
